<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
<html lang="en">
<head>

    <title>
        לך על זה
    </title>
    <link rel="icon" type="img/gif/png" href="~/Img/logo.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewShoeStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/HeaderFooter.css" />
    @RenderSection("Css", required: false)
</head>
<body>
    <header>

        <!--מכאן הקוד לחלק העליון-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <form class="form-inline my-2 my-lg-0">
                <div class="form-grop">
                    <input name="name" type="search" class="form-control mr-sm-2" placeholder="חיפוש מוצר" />
                    <!--קישור עם איכון של חיפוש-->
                    <button class="btn" asp-controller="Shoes" asp-action="Index" type="submit">
                        <svg width="1em" height="1em" style="color:blue" viewBox="0 0 16 16" class="bi bi-search colorForSearch" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </div>
            </form>
            <!--קישור עם איכון של סל קניות-->
            @*<a asp-area="" asp-controller="Orders" asp-action="Index" asp-route="">*@
            <a asp-area="" asp-controller="Shoes" asp-action="Cart" onfocus="f(even);">

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart3 colorForShoppingCart" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse abc" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            נשים
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים מגפיים" class="dropdown-item">מגפיים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים סנדלים" class="dropdown-item">סנדלים</a>
                            <!--<div class="dropdown-divider"></div>-->
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים סניקרס" class="dropdown-item">סניקרס</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים נעלי בובה" class="dropdown-item">נעלי בובה </a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים עקבים" class="dropdown-item">עקבים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="נשים נעלי בית" class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            גברים
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown"
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="גברים מגפיים" class="dropdown-item">מגפיים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="גברים סנדלים" class="dropdown-item">סנדלים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="גברים סניקרס" class="dropdown-item">סניקרס</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="גברים אלגנט" class="dropdown-item">אלגנט</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="גברים נעלי בית"class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            בנים
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנים מגפיים" class="dropdown-item">מגפיים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנים סנדלים" class="dropdown-item">סנדלים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנים סניקרס" class="dropdown-item">סניקרס</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנים אלגנט" class="dropdown-item">אלגנט</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנים נעלי בית" class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            בנות
                        </a>
                        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנות מגפיים" class="dropdown-item">מגפיים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנות סנדלים" class="dropdown-item">סנדלים</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנות סניקרס" class="dropdown-item">סניקרס</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנות נעלי בובה" class="dropdown-item">נעלי בובה</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בנות נעלי בית" class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            בייבי בנים
                        </a>
                        <div class="dropdown-menu dropdown-content above" aria-labelledby="navbarDropdown">
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנים נעלי צעד ראשון" class="dropdown-item">נעלי צעד ראשון</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנים חגיגי" class="dropdown-item">חגיגי</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנים ספורט " class="dropdown-item">ספורט</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנים נעלי בית" class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link dropbtn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            בייבי בנות
                        </a>
                        <div class="dropdown-menu dropdown-content above" aria-labelledby="navbarDropdown">
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנות נעלי צעד ראשון" class="dropdown-item">נעלי צעד ראשון</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנות חגיגי" class="dropdown-item">חגיגי</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנות ספורט " class="dropdown-item">ספורט</a>
                            <a asp-controller="Shoes" asp-action="Search" asp-route-name="בייבי בנות נעלי בית" class="dropdown-item">נעלי בית</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown inTheSameLine">
                        <a class="nav-link " role="button" data-toggle="" asp-area="" asp-controller="Home" asp-action="Index"
                           aria-haspopup="true" aria-expanded="false">
                            חזרה לעמוד ראשי
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
        <!--עד כאן הקוד לחלק העליון-->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <!-- מכאן הקוד לחלק התחתון-->
        <nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
            <form class="form-inline my-lg-0">
                <div class="collapse navbar-collapse navbar-nav mr-auto abc" id="navbarSupportedContent">
                    <!--<ul class="navbar-nav mr-auto">-->
        
                           <div class="col-sm-3 stayRight">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="TermsofUse">תנאי שימוש</a>
                    </div>
                    <div class="col-sm-3 stayRight">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">הודעת פרטיות</a>
                    </div>
                    <div class="col-sm-6">
                        <!--<p class="navbar-nav nav-item bottom-set">כל הזכויות שמורות ליעל כהן רותי עוזרי ואורטל טלר &copy;</p>-->
                        <div class="bottom-set"> כל הזכויות שמורות ליעל כהן רותי עוזרי ואורטל טלר  &copy;</div>
                    </div>
                </div>
            </form>
        </nav>
        <!-- עד כאן הקוד לחלק התחתון-->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @section Scripts{
        <script>
            //function pop(event) {
            //    e.preventDefault();
            //    document.getElementById("popup")
            // }
            function f(e) {                <div>                    <div class="container-fluid">                        <div class="row">                            <div class="col-md-4">.col-md-4</div>                            <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>                        </div>                        <div class="row">                            <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>                            <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>                        </div>                        <div class="row">                            <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>                        </div>                        <div class="row">                            <div class="col-sm-9">                                Level 1: .col-sm-9                        <div class="row">                                    <div class="col-8 col-sm-6">                                        Level 2: .col-8 .col-sm-6                          </div>                                    <div class="col-4 col-sm-6">                                        Level 2: .col-4 .col-sm-6                          </div>                                </div>                            </div>                        </div>                    </div>                </div>
            }
        </script>
    }
</body>
</html>

