@using Microsoft.AspNetCore.Http;
@model NewShoeStore.Models.Order

@{
    ViewData["Title"] = "Create";
}

<div class="row setR">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardIdNumber" class="control-label myLabel"></label>
                <input asp-for="CardIdNumber" class="form-control" />
                <span asp-validation-for="CardIdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardName" class="control-label myLabel"></label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label myLabel"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityCode" class="control-label myLabel"></label>
                <input asp-for="SecurityCode" class="form-control" />
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="אישור תשלום" class="btn btn-secondary" />
            </div>

            <div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">חזור לעמוד הראשי</a>
            </div>
            @if (Context.Session.GetString("user") == "4")
            {
                <a asp-action="Index" class="btn btn-primary">עבור לרשימת ההזמנות</a>
            }
            </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Css{
    <link rel="stylesheet" href="~/css/Order.css" />
    <link rel="stylesheet" href="~/css/OrderShoes.css" />
}
